
body {
  font-family: Arial, sans-serif;
  color: #ffffff;
  background-image: url("../img/fondodf.png");
  font-size: 25px;
}

a {
  text-decoration: none;
  color: #ffffff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 8px;
}

h1 {
  font-size: 45px;
}

.ins {
  text-decoration: underline;
}

.item {
  display: flex;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  width: 60%;
}

.item img {
  width: 320px;
  height: 180px;
  margin-right: 20px;
  transition: 0.5s;
}

.item img:hover{
  transform: scale(1.1);
}

.item div {
  text-align: left;
}

.item-1 {
  display: flex;
  background-image: url("../img/top1.png");
  padding: 20px;
  border-radius: 12px;
  width: 60%;
}



.item-1 img {
  width: 320px;
  height: 180px;
  margin-right: 20px;
  transition: 0.5s;
}

.item-1 img:hover{
  transform: scale(1.1)
}

.item-1 div {
  text-align: left;
}


.item-2 {
  display: flex;
  background-image: url("../img/top2.png");
  padding: 20px;
  border-radius: 12px;
  width: 60%;
}



.item-2 img {
  width: 320px;
  height: 180px;
  margin-right: 20px;
  transition: 0.5s;
}

.item-2 img:hover{
  transform: scale(1.1)
}

.item-2 div {
  text-align: left;
}


.item-3 {
  display: flex;
  background-image: url("../img/top3.jpg");
  padding: 20px;
  border-radius: 12px;
  width: 60%;
}



.item-3 img {
  width: 320px;
  height: 180px;
  margin-right: 20px;
  transition: 0.5s;
}

.item-3 img:hover{
  transform: scale(1.1)
}

.item-3 div {
  text-align: left;
}

.cs img {
  width: 320px;
  height: 180px;
  border:2px solid white;
}


@media (max-width: 768px) {
  .item, .item-1, .item-2, .item-3 {
      flex-direction: column;
  }

  .item img {
    margin: 0;
    margin-bottom: 15px;
  }

  .item-1 img {
    margin: 0;
    margin-bottom: 15px;
  }

  .item-2 img {
    margin: 0;
    margin-bottom: 15px;
  }

  .item-3 img {
    margin: 0;
    margin-bottom: 15px;
  }
}







